.env
.env.development
.env.production
.env.production.fbtest
node_modules
package-lock.json
/logs/*.txt
/logs/*.log
/logs/
/redis
**/.DS_Store

arislab-api/false/
arislab-api/**/node_modules/
arislab-api/package-lock.json
arislab-api/api/*.js
arislab-api/api/*.js.map
arislab-api/api/components/*.js.map
arislab-api/api/components/*.js
arislab-api/api/models/*.js.map
arislab-api/api/models/*.js
arislab-api/api/modules/*.js.map
arislab-api/api/modules/*.js
arislab-api/api/routes/*.js.map
arislab-api/api/routes/*.js
arislab-api/api/ts-utils/*.js.map
arislab-api/api/ts-utils/*.js
arislab-api/api/utils/*.js.map
arislab-api/api/logs/
arislab-api/api/local/
arislab-api/api/config/*.js.map

arislab-platform/*/public/build/
arislab-platform/*/public/.cache/
arislab-platform/*/build/
arislab-platform/*/node_modules/
arislab-platform/*/package-lock.json
arislab-platform/platform/*
arislab-platform/platform/public/build/
arislab-platform/platform/public/.cache/
arislab-platform/platform/node_modules/
arislab-platform/platform/build/
arislab-platform/platform_2/src/styles/fuse-helpers.css
arislab-platform/platform_2/.env.development
arislab-platform/platform_2/.env.production
arislab-platform/platform_2/.env.production.fbtest
arislab-platform/platform_2/package-lock.json

#arislab-rvp/*
arislab-rvp/node_modules/
arislab-rvp/package-lock.json
arislab-rvp/false/
arislab-rvp/rvp/*.js
arislab-rvp/rvp/*.js.map
arislab-rvp/rvp/src/**/*.js
arislab-rvp/rvp/src/**/*.js.map

#arislab-securesite/*
arislab-securesite/node_modules/
arislab-securesite/package-lock.json
arislab-securesite/securesite/server/node_modules/
arislab-securesite/securesite/server/src/**/*.js
arislab-securesite/securesite/server/src/**/*.js.map
arislab-securesite/securesite/server/src/*.js
arislab-securesite/securesite/server/src/*.js.map
arislab-securesite/securesite/public/build/*
arislab-securesite/securesite/logs/*
local/

arislab-console/node_modules/
arislab-console/console/public/logs/*.log*
arislab-console/console/public/logs/*.tar*
arislab-console/console/public/logs/**/*.log*
arislab-console/package-lock.json

arislab-media/node_modules/
arislab-media/package-lock.json
arislab-media/*.png
arislab-media/*.js
arislab-media/*.js.map
arislab-media/media/*.js
arislab-media/media/*.js.map
arislab-media/media/**/*.js
arislab-media/media/**/*.js.map
arislab-media/*.log
arislab-media/screenshot/*.png

arislab-servicestatus/*.js
arislab-servicestatus/*.js.map
arislab-servicestatus/*/*.js
arislab-servicestatus/*/*.js.map
arislab-servicestatus/node_modules/
arislab-servicestatus/package-lock.json
arislab-servicestatus/scripts/file/
arislab-servicestatus/scripts/file/*

arislab-webhook/*.js
arislab-webhook/*.js.map
arislab-webhook/*/*.js
arislab-webhook/*/*.js.map
arislab-webhook/node_modules/
arislab-webhook/package-lock.json

arislab-queueservices/*.js
arislab-queueservices/*.js.map
arislab-queueservices/*/*.js
arislab-queueservices/*/*.js.map
arislab-queueservices/node_modules/
arislab-queueservices/package-lock.json
arislab-queueservices/log/
arislab-queueservices/log/*
arislab-queueservices/saved/*.pdf
arislab-queueservices/saved/*.csv
