apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: production
  labels:
    io.kompose.service: redis-claim0
  name: redis-claim0
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
status: {}
