<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User Invite - Arislab.ai</title>
    <meta name="description" content="LIVE-Commerce">
    <meta name="keywords" content="Arislab,LIVE-Commerce">
    <meta name="author" content="arislab">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../public/img/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <style>
        body {
            background-color: #f5f5f5;
        }

        .error {
            color: #C00;
        }

        .border-error: {
            border: #e80909 solid !important
        }
    </style>
</head>

<body>
    <div class="flex flex-col flex-1 h-full w-full relative">
        <div class="ml-4 mt-4">
            <a href="https://arislab.ai/"><img class="login-logo" src="./public/img/aris-logo.svg" /></a>
        </div>
        <div class="flex justify-center h-full md:items-center mt-8">
            <div class="w-full max-w-md">
                <form id="invite-form" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <div class="mb-4 form-group">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="first_name">
                            First Name
                        </label>
                        <input
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="first_name" name="first_name" type="text">
                    </div>
                    <div class="mb-4 form-group">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">
                            Last Name
                        </label>
                        <input
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="last_name" name="last_name" type="text">
                    </div>
                    <div class="mb-4 form-group">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
                            Email
                        </label>
                        <input disabled
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="email" name="email" type="text" value={{data.email}}>
                    </div>
                    <div class="mb-4 form-group">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                            Password
                        </label>
                        <input
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="password" name="password" type="password">
                    </div>
                    <div class="mb-4 form-group">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm_password">
                            Confirn Password
                        </label>
                        <input
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="confirm_password" name="confirm_password" type="password">
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                            Accept Invitation
                        </button>
                    </div>
                </form>
                <p class="text-center text-gray-500 text-xs">
                    &copy;2020 Arislab. All rights reserved.
                </p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/latest/js.cookie.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../../public/js/vendor/jquery.validate.min.js"></script>
    <script src="../../public/js/vendor/sweetalert2.min.js"></script>
    <script>
        var url = new URL(window.location.href);
        var token = url.searchParams.get("token");

        $("#invite-form").submit(function (e) {
            e.preventDefault();
        }).validate({
            rules: {
                first_name: {
                    required: true
                },
                last_name: {
                    required: true
                },
                password: {
                    required: true,
                    minlength: 8
                },
                confirm_password: {
                    required: true,
                    equalTo: "#password"
                },
            },
            errorPlacement: function ($error, $element) {
                $error.appendTo($element.closest(".form-group"));
            },
            submitHandler: function (form) {
                onSubmitInvitation(function (data, error) {
                    if (error) {
                        alert('error', 'Error', error.responseJSON ? error.responseJSON.message : error.message, 'OK', function () { });
                        return;
                    }

                    alert('success', 'Success', 'User has invited to store', 'OK', function (data) {
                        if (data.isConfirmed) {
                            setTimeout(function () {
                                window.location.href = '/'
                            }, 1000);
                        }
                    });
                });
            }
        });

        function alert(type = 'error', title = '', message = '', btnText = 'OK', cb) {
            Swal.fire({
                title: title,
                text: message,
                icon: type,
                confirmButtonText: btnText
            }).then((result) => {
                cb(result);
            });
        }

        function onSubmitInvitation(cb) {
            var firstName = $('#first_name').val();
            var lastName = $('#last_name').val();
            var email = $('#email').val();
            var password = $('#password').val();

            $.ajax({
                url: '/invite/register',
                type: 'POST',
                data: {
                    token: token,
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    password: password,
                },
                dataType: 'json',
                success: function (data) {
                    cb(data, null);
                },
                error: function (error) {
                    cb(null, error);
                }
            })
        }
    </script>
</body>

</html>