<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Your shopping cart</title>
    <link href="https://fonts.googleapis.com/css?family=Kanit:300,400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/new/tailwind.css?v={{ timestamp }}" />
    <link rel="stylesheet" href="../css/new/new-basket.css?v={{ timestamp }}" />
    <link rel='shortcut icon' type='image/x-icon' href='../favicon.ico' />
</head>

<body class="h-full">
    <div class="flex flex-1 flex-col h-full items-center justify-center">
        <div class="mb-2 text-highlight">กำลังนำท่านไปยังหน้าชำระเงิน.....</div>
        <div class="text-highlight">Redirect to Payment Page.....</div>
    </div>
</body>

</html>