<div id="login-container" class="animation-fadeIn text-center">
    <h1 style="
    margin-top: 0px;
    color: white;
">
        Logging out...
    </h1><!-- Login Title -->

    <script>
//        $.removeCookie('token',{ path: '/' });
        window.location.href = "/login";
    </script>
</div>