.DS_Store
.env
.env.development
.env.production
.env.production.fbtest
node_modules
package-lock.json


# rvp
arislab-rvp/.DS_Store
arislab-rvp/node_modules/
arislab-rvp/package-lock.json
arislab-rvp/false/
arislab-rvp/rvp/*.js
arislab-rvp/rvp/*.js.map
arislab-rvp/rvp/src/**/*.js
arislab-rvp/rvp/src/**/*.js.map

# securesite
arislab-securesite/server/node_modules/
arislab-securesite/server/package-lock.json
arislab-securesite/server/node_modules/
arislab-securesite/server/src/**/*.js
arislab-securesite/server/src/**/*.js.map
arislab-securesite/server/src/models/*.js
arislab-securesite/server/src/models/*.js.map
arislab-securesite/server/src/routes/*.js
arislab-securesite/server/src/routes/*.js.map
arislab-securesite/server/src/*.js
arislab-securesite/server/src/*.js.map
arislab-securesite/server/public/build/*
arislab-securesite/server/logs/*
arislab-securesite/server/local/
arislab-securesite/logs/*.txt
arislab-securesite/logs/*.log
arislab-securesite/logs/

# api
arislab-api/node_modules/
arislab-api/package-lock.json
arislab-api/api/src/**/*.js
arislab-api/api/src/**/*.js.map
arislab-api/api/src/models/*.js
arislab-api/api/src/models/*.js.map
arislab-api/api/src/routes/*.js
arislab-api/api/src/routes/*.js.map
arislab-api/api/src/**/*.js.map
arislab-api/api/src/**/*.js
arislab-api/api/src/*.js
arislab-api/api/src/*.js.map
arislab-api/api/**/*.js
arislab-api/api/**/*.js.map
arislab-api/api/logs/*
arislab-api/api/local/
arislab-api/logs/*.txt
arislab-api/logs/*.log
arislab-api/logs/